# Ignore Build output
TheCoffeMachine/MDK-ARM/TheCoffeMachine/
TheCoffeMachine/MDK-ARM/TheCoffeMachine/*
TheCoffeMachine/MDK-ARM/DebugConfig/
TheCoffeMachine/MDK-ARM/DebugConfig/*
TheCoffeMachine/MDK-ARM/RTE/
TheCoffeMachine/MDK-ARM/RTE/*
TheCoffeMachine/MDK-ARM/*.scvd

TheCoffeMachine/MDK-ARM/TheCoffeMachine.uvguix.*
*.lst